<html>
    <head>
        <title>selenny - howto</title>
    </head>

    <body>
        <h1>Selenny</h1>

        <h2>how to use</h2>

        <p>Visit any url with 2 numbers in it (<a href="http://localhost:8000/30/20">http://localhost:8000/30/20/</a> for instance). </.>
        
        <p>The html page generated there will show a list of numbers, starting from the first number (30 in this case), and showing incremental numbers from this point, the amound of numbers limited by the second number in the url (20). The list items for each number will also have a data-hook-id corresponding the same number</p>
    </body>
</html>
